// Global styles
// ---------------------------------------
.border {
  box-sizing: border-box;
  border:     1px groovy grey;
}

.hidden {
  display: none;
}

.faded {
  opacity: 0.8;
}

.normal {
  color: $textColor;
}

.white {
  color: $white;
}

i.fa {
  font-style: normal;
}

a {
  @include fontsize(theta, all);
  color: $linkColor;
  background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0) 50%,lighten($linkColor,20%) 50%);
  background-position: 0 93%;
  background-repeat: repeat-x;
  background-size: 100% 0.15rem;
  text-shadow: 0.1rem 0 $backgroundColor,0.15rem 0 $backgroundColor,-0.1rem 0 $backgroundColor,-0.15rem 0 $backgroundColor;

  &:hover, &:active, &:focus {
    cursor: pointer;
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0) 50%,lighten($hoverColor,20%) 50%);
  }
}

.page {
  width:      21cm;
  max-width:  21cm;
  min-height: 29.7cm;
  max-height: 29.7cm;
  offset:     hidden;
  // background: white;
}

img {
  height: auto;
  vertical-align: middle;
  width: 100%;

  @include breakpoint(break-1) {
    margin: 0 auto;
    max-width: 100%;
    width: auto;
  }
}

// .button-align {
//   @include baseline(zeta, $bodytype, 2, 2, all);
// }
